#header {color: darkblue;}

.section {background-color: darkgoldenrod;}

#picture {max-width: 200px; max-height: 200px;}

#email {background-color: darkorange;}

#github {background-color: lightblue;}

#portfolio {background-color: orangered;}